<div class="footer-wrapper">
    <footer class="footer-container">
        <div class="footer-content">
            <p>&copy; BOOK Store</p>
            <nav>
                <ul>
                    <li routerLink="/">Home</li>
                    <li routerLink="/about">About</li>
                    <li routerLink="/contacts">Contacts</li>
                    <ng-container *ngIf="!authService.isLoggedIn(); else loggedIn">
                        <li routerLink="/login">Login</li>
                        <li routerLink="/register">Register</li>
                    </ng-container>
                    <ng-template #loggedIn>
                        <li routerLink="/my-profile">My Profile</li>
                    </ng-template>
                </ul>
            </nav>
        </div>
    </footer>
</div>