.footer-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.footer-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    max-width: 1280px;
    z-index: 3;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}

.footer-content nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content nav ul li {
    display: inline-block;
    margin-left: 15px;
}

.footer-content nav ul li:last-child {
    margin-right: 0;
}

.footer-content nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-content nav ul li a:hover {
    text-decoration: underline;
}