<div class="home-container">
    <div class="hr-text-hr">
        <hr class="hr-line">
        <span class="hr-text">All Books</span>
        <hr class="hr-line">
    </div>      

    <div class="books-container">
        <div class="book" *ngFor="let book of books" (click)="navigateToBookDetails(book.id)">
            <img [src]="book.coverUrl" alt="Book Cover">
            <div class="book-details">
                <h3 class="book-title">{{ book.title }}</h3>
                <p class="book-author">{{ book.author }}</p>
                <p class="book-price">${{ book.price }}</p>
                <div class="images">
                    <img (click)="addToFavorites($event, book.id)" [src]="favoritesIconUrl" alt="Heart Icon">
                    <img [src]="cartIconUrl" alt="Cart Icon">
                </div>
            </div>
        </div>
    </div>
</div>