<div class="home-container">
    <div class="hr-text-hr">
        <hr class="hr-line">
        <span class="hr-text">All Books</span>
        <hr class="hr-line">
    </div>

    <div class="book">
        <img src="https://m.media-amazon.com/images/I/814mI0-rkxL._AC_UF1000,1000_QL80_.jpg" alt="Book Cover">
        <div class="book-details">
            <h3 class="book-title">Elon Musk</h3>
            <p class="book-author">Some Author</p>
            <p class="book-price">$19.99</p>
            <div class="images">
                <img src="https://static-00.iconduck.com/assets.00/heart-icon-512x441-zviestnn.png" alt="Heart Icon" class="icon">
                <img src="https://static.vecteezy.com/system/resources/previews/027/381/351/original/shopping-cart-icon-shopping-trolley-icon-shopping-cart-logo-container-for-goods-and-products-economics-symbol-design-elements-basket-symbol-silhouette-retail-design-elements-vector.jpg" alt="Cart Icon" class="icon">
            </div>
        </div>
    </div>

    <div class="book">
        <img src="https://m.media-amazon.com/images/I/814mI0-rkxL._AC_UF1000,1000_QL80_.jpg" alt="Book Cover">
        <div class="book-details">
            <h3 class="book-title">Elon Musk</h3>
            <p class="book-author">Some Author</p>
            <p class="book-price">$19.99</p>
            <div class="images">
                <img src="https://static-00.iconduck.com/assets.00/heart-icon-512x441-zviestnn.png" alt="Heart Icon" class="icon">
                <img src="https://static.vecteezy.com/system/resources/previews/027/381/351/original/shopping-cart-icon-shopping-trolley-icon-shopping-cart-logo-container-for-goods-and-products-economics-symbol-design-elements-basket-symbol-silhouette-retail-design-elements-vector.jpg" alt="Cart Icon" class="icon">
            </div>
        </div>
    </div>
    
    <div class="book">
        <img src="https://m.media-amazon.com/images/I/814mI0-rkxL._AC_UF1000,1000_QL80_.jpg" alt="Book Cover">
        <div class="book-details">
            <h3 class="book-title">Elon Musk</h3>
            <p class="book-author">Some Author</p>
            <p class="book-price">$19.99</p>
            <div class="images">
                <img src="https://static-00.iconduck.com/assets.00/heart-icon-512x441-zviestnn.png" alt="Heart Icon" class="icon">
                <img src="https://static.vecteezy.com/system/resources/previews/027/381/351/original/shopping-cart-icon-shopping-trolley-icon-shopping-cart-logo-container-for-goods-and-products-economics-symbol-design-elements-basket-symbol-silhouette-retail-design-elements-vector.jpg" alt="Cart Icon" class="icon">
            </div>
        </div>
    </div>
</div>