.success-registration-container {
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  font-size: 16px;
  margin-top: 30px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
  
.success-registration-container h2 {
  color: #007bff;
  margin-bottom: 20px;
}

.success-registration-container p {
  margin-bottom: 20px;
}

.success-registration-container button {
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  transition: background-color 0.3s ease;
}

.success-registration-container button:hover {
  background-color: #0056b3;
}