.container {
  max-width: 1280px; /* Set the maximum width */
  margin: 0 auto; /* Center the container */
}

.my-profile {
  max-width: 1280px;
  margin: 20px auto; /* Add margin to separate from the heading */
}

.profile-sections {
  display: flex; /* Use flexbox layout */
}

.profile-section {
  flex: 1; /* Each section takes equal space */
  border: 1px solid #ccc; /* Add border around each section */
  padding: 20px;
  font-size: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Add default shadow effect */
  transition: box-shadow 0.5s ease, transform 0.5s ease; /* Add transition for smooth hover effect */
  cursor: pointer;
}

.profile-section:not(:last-child) {
  margin-right: 20px; /* Add spacing between sections */
}

.section-content {
  display: flex; /* Use flexbox layout for icon and text */
  align-items: center; /* Align items vertically */
  padding: 10px; /* Add padding for spacing */
}


.section-content h3 {
  margin: 0; /* Reset margin for the heading */
}

.profile-section:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  transform: translateY(3px); /* Add slight elevation effect on hover */
}

.favorite-icon {
  width: 40px;
  margin-right: 10px;
}

.cart-icon {
  width: 60px;
  margin-right: 10px;
}

.logout-icon {
  width: 33px;
  margin-right: 10px;
}

.delete-profile-icon {
  width: 40px;
  margin-right: 10px;
}