.success-registration-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .success-registration-container h2 {
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .success-registration-container p {
    margin-bottom: 20px;
  }
  
  .success-registration-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .success-registration-container button:hover {
    background-color: #0056b3;
  }