<div class="header-wrapper">
    <header class="header-container">
        <div class="logo" routerLink="/">BOOK Store</div>
        
        <app-categories-dropdown />

        <form class="search-field">
            <input type="text" placeholder="Search...">
            <button type="submit">Search</button>
        </form>

        <div class="login-register-container">
            <span class="login-register-label" routerLink="/login">Login</span>
            <span class="login-register-label" routerLink="/register">Register</span>
        </div>
    </header>
</div>