<div class="header-wrapper">
    <header class="header-container">
        <div class="logo" routerLink="/">BOOK Store</div>
        
        <app-categories-dropdown />

        <form class="search-field">
            <input type="text" placeholder="Search...">
            <button type="submit">Search</button>
        </form>

        <div class="user-section">
            <div *ngIf="!authentication.isLoggedIn" class="login-register-container">
                <span class="login-register-label" routerLink="/login">Login</span>
                <span class="login-register-label" routerLink="/register">Register</span>
            </div>
            <div *ngIf="authentication.isLoggedIn" class="profile-container">
                <app-user-profile />
            </div>
        </div>
    </header>
</div>