.container {
  max-width: 1280px;
  margin: 0 auto;
}

.hr-text {
  font-size: 22px; /* Adjust font size as needed */
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.book {
  display: inline-block; /* Set to inline-block */
  padding: 20px;
  vertical-align: top; /* Align the books at the top */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transition for smooth hover effect */
}

.book:hover {
  border: 1px solid #bdbdbd;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  transform: translateY(-5px); /* Add elevation effect on hover */
  cursor: pointer;
}

.book img {
  width: 170px;
  height: 265px;
}

.book-details {
  flex-grow: 1;
  max-width: 150px;
}

.book-title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  margin: 5px 0;
  word-wrap: break-word; /* Allow long titles to wrap */
}

.book-author {
  font-style: italic;
  color: #666;
  margin: 5px 0;
}

.book-price {
  font-weight: bold;
  margin: 5px 0;
}

.images img {
  margin-left: 5px; /* Add some space between the price and icons */
  vertical-align: middle; /* Align icons vertically with text */
  cursor: pointer; /* Add pointer cursor to indicate interactivity */
  width: 30px;
  height: 30px;
}