<div class="container">
    <h2>Favorite books</h2>
    <div class="books-container">
        <div class="book" *ngFor="let book of books" (click)="navigateToBookDetails(book.id)">
            <img [src]="book.coverUrl" alt="Book Cover">
            <div class="book-details">
                <h3 class="book-title">{{ book.title }}</h3>
                <p class="book-author">{{ book.author }}</p>
                <p class="book-price">${{ book.price }}</p>
                <div class="images">
                    <img (click)="removeBookFromFavorites($event, book)" [src]="favoritesIconUrl" alt="Heart Icon" class="heart-icon">
                    <img (click)="addToCart($event, book)" [src]="cartIconUrl" alt="Cart Icon" class="cart-icon">
                </div>
            </div>
        </div>
    </div>
</div>