<div class="book-container">
    <div class="book-cover">
        <img [src]="book.coverUrl" alt="Book Cover">
    </div>

    <div class="book-info">
        <h1>{{ book.title }}</h1>
        <p>Author: {{ book.author }}</p>
        <p>Genre: {{ book.genre }}</p>
        <p>Pages: {{ book.pages }}</p>
        <!-- TODO! <p>Description: {{ book?.description }}</p> -->
    </div>

    <div class="additional-info">
        <div class="price">${{ book.price }}</div>
        <div class="button-container">
            <button class="add-to-cart-btn">Add to Cart</button>
        </div>
        <div class="button-container">
            <button (click)="addToFavorites(book.id)">Add to Favorites</button>
        </div>
    </div>
</div>