<div class="home-container">
    <h2>Cart</h2>

    <div class="books-container">
        <div class="book" *ngFor="let book of cartBooks" (click)="navigateToBookDetails(book.id)">
            <img [src]="book.coverUrl" alt="Book Cover">
            <div class="book-details">
                <h3 class="book-title">{{ book.title }}</h3>
                <p class="book-author">{{ book.author }}</p>
                <p class="book-price">${{ book.price }}</p>
                <div class="images">
                    <img [src]="favoritesIconUrl" alt="Heart Icon">
                    <img [src]="cartIconUrl" alt="Cart Icon">
                </div>
            </div>
        </div>
    </div>
</div>