<div class="container">
    <h2>Cart</h2>

    <div>
        <div class="book" *ngFor="let book of cartBooks" (click)="navigateToBookDetails(book.id)">
            <img class="book-cover" [src]="book.coverUrl" alt="Book Cover">
            <div class="book-details">
                <h3 class="book-title">{{ book.title }}</h3>
                <p class="book-author">{{ book.author }}</p>
                <div class="price-icons-container">
                    <p class="book-price">${{ book.price }}</p>
                    <div class="icons">
                        <img (click)="addToFavorites($event, book.id)" [src]="favoritesIconUrl" alt="Heart Icon" class="favorites-icon">
                        <img (click)="removeFromCart($event, book)" [src]="shoppingCartIconUrl" alt="Cart Icon" class="cart-icon">
                    </div>
                </div>
            </div>
        </div>

        <div class="place-order-section">
            <div class="total-sum">Total: <b>${{ calculateTotalSum() | number:'1.2-2' }}</b></div>
            <div class="buttons-container">
                <button (click)="placeOrder()" class="place-order-btn">Place order</button>
            </div>
        </div>
    </div>
</div>