<div class="cart-container">
    <h2>Cart</h2>

    <div *ngIf="cartBooks.length > 0; else emptyCartMessage">
        <div class="book" *ngFor="let book of cartBooks" (click)="navigateToBookDetails(book.id)">
            <img class="book-cover" [src]="book.coverUrl" alt="Book Cover">
            <div class="book-details">
                <h3 class="book-title">{{ book.title }}</h3>
                <p class="book-author">{{ book.author }}</p>
                <div class="price-icons-container">
                    <p class="book-price">${{ book.price }}</p>
                    <div class="icons">
                        <img (click)="addToFavorites($event, book.id)" [src]="favoritesIconUrl" alt="Heart Icon" class="favorites-icon">
                        <img (click)="removeFromCart($event, book)" [src]="shoppingCartIconUrl" alt="Cart Icon" class="cart-icon">
                    </div>
                </div>
            </div>
        </div>

        <div class="place-order-section">
            <div class="total-sum">Total: <b>${{ calculateTotalSum() | number:'1.2-2' }}</b></div>
            <div class="buttons-container">
                <button (click)="placeOrder()" class="place-order-btn">Place order</button>
            </div>
        </div>
    </div>

    <ng-template #emptyCartMessage>
        <div class="empty-cart-message">
            <h1>Your cart is empty</h1>
            <p>Add products to the cart before proceeding.</p>
            <button class="go-to-home-btn" routerLink="/">GO TO HOME PAGE</button>
        </div>
    </ng-template>
</div>