.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 16px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    padding-right: 0px;
    font-size: 18px;
}
  
.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form div {
    margin-bottom: 10px;
}

.login-container form button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error-message {
    color: red;
}

.login-button:hover {
    background-color: #0056b3;
}