<div class="home-container">
    <div class="hr-text-hr">
        <hr class="hr-line">
        <span class="hr-text">All Books</span>
        <hr class="hr-line">
    </div>      

    <div>
        <div class="book" *ngFor="let book of books" (click)="navigateToBookDetails(book.id)">
            <img class="book-cover" [src]="book.coverUrl" alt="Book Cover">
            <div class="book-details">
                <h3 class="book-title">{{ book.title }}</h3>
                <p class="book-author">{{ book.author }}</p>
                <div class="price-icons-container">
                    <p class="book-price">${{ book.price }}</p>
                    <div class="icons">
                        <img class="favorites-icon" (click)="addToFavorites($event, book.id)" [src]="favoritesIconUrl" alt="Favorites Icon">
                        <img class="cart-icon" (click)="addToCart($event, book.id)" [src]="shoppingCartIconUrl" alt="Cart Icon">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>