.header-wrapper {
    max-width: 1280px; /* Set the maximum width */
    margin: 0 auto; /* Center the container */
}

.header-container {
    display: flex;
    justify-content: space-between; /* Align items to the left and right */
    align-items: center;
    padding: 40px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1); /* Add box shadow */
    margin-bottom: 10px;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin-right: 20px;
    cursor: pointer;
}

.user-section {
    display: flex;
    align-items: center;
}

.login-register-container,
.profile-container {
    display: flex;
    align-items: center;
}

.login-register-label {
    font-size: 20px;
    color: #333;
    margin-left: 10px;
    cursor: pointer;
}