.header-wrapper {
    margin: 0 auto;
    max-width: 1280px;
}

.header-container {
    display: flex;
    padding: 40px;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.logo {
    color: #333;
    font-size: 40px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
}

.user-section {
    height: 60px;
    display: flex;
    align-items: center;
}

.login-register-container,
.profile-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.login-register-label {
    height: 100%;
    font-size: 20px;
    color: #333;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}